{% extends 'main/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}
  NeuroPower | {{block.super}}
{% endblock %}

{% block navbar %}
{% include 'main/navbar.html' %}
{% include 'neuropower/neuropowernavbar.html' %}
{% endblock %}

{% block content %}
<div class="row">
  <br>
  <div class="col-md-12">
    <form id="parsform" method='POST' action='submit_form' enctype="multipart/form-data">
      {% csrf_token %}
      {% crispy parsform %}
    </form>
  </div>
</div>

{% include "main/loader.html" %}

<!-- function to submit form-->
{% block scripts %}
$('#submit_form').click(function(event) {
    event.preventDefault();
    $("#fade").show();
    $("#loader").show();
    $("#parsform").submit();
});
{% endblock %}


{% endblock %}
