<div class="row">
    <div id="progressbar" class="col-md-12">    
        <a class="btn btn-default" id="overview" href="{% url 'neuropowerstart' %}"><li>Overview</li></a>
        <a class="btn btn-default" id="start" href="{% url 'neuropowerinput' %}"><li>Start</li></a>
        <a class="btn btn-default" id="viewer" href="{% url 'neuropowerviewer' %}"><li>Viewer</li></a>
        <a class="btn btn-default" id="peak-table" href="{% url 'neuropowertable' %}" ><li>Peak Table</li></a>
        <a class="btn btn-default" id="fit" href="{% url 'neuropowermodel' %}"><li>Model Fit</li></a>
        <a class="btn btn-default" id="power-calculation" href="{% url 'neuropowersamplesize' %}"><li>Power Calculation</li></a>
        <a class="btn btn-default" id="power-table" href="{% url 'neuropowercrosstab' %}"><li>Power Table</li></a>
    </div>
</div>
