<div class="row">
    <div id="progressbar" class="col-md-12">    
        <a class="btn btn-default" id="overview" href="{% url 'neuropowerstart' %}">Overview</a>
        <a class="btn btn-default" id="start" href="{% url 'neuropowerinput' %}">Start</a>
        <a class="btn btn-default" id="viewer" href="{% url 'neuropowerviewer' %}">Viewer</a>
        <a class="btn btn-default" id="peak-table">Peak Table</a>
        <a class="btn btn-default" id="fit" href="{% url 'neuropowermodel' %}">Model Fit</a>
        <a class="btn btn-default" id="power-calculation" href="{% url 'neuropowersamplesize' %}">Power Calculation</li></a>
        <a class="btn btn-default" id="power-table" href="{% url 'neuropowercrosstab' %}">Power Table</a>
    </div>
</div>
