<div class="row">
    <div class="col-md-12">    
    <ul id="progressbar">
        <a href="{% url 'neuropowerstart' %}"><li id="overview">Overview</li></a>
        <a href="{% url 'neuropowerinput' %}"><li id="start">Start</li></a>
        <a href="{% url 'neuropowerviewer' %}"><li id="viewer">Viewer</li></a>
        <a href="{% url 'neuropowertable' %}" ><li id="peak-table">Peak Table</li></a>
        <a href="{% url 'neuropowermodel' %}"><li id="fit">Model Fit</li></a>
        <a href="{% url 'neuropowersamplesize' %}"><li id="power-calculation">Power Calculation</li></a>
        <a href="{% url 'neuropowercrosstab' %}"><li id="power-table">Power Table</li></a>
    </ul>
    </div>
</div>
