{% extends 'main/base.html' %}
{% load staticfiles %}

{% block head_title %}
  Welcome | {{block.super}}
{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
  <div class="welcome">
    <div class="row">
      <div class="col-xs-8">
        <h2>Welcome</h2>
        <p>NeuroPower is a toolbox that allows you to compute the necessary sample size for your fMRI study to obtain a certain predefined level of statistical power.  Our method can be used for whole-brain analyses, as well as for region-of-interest analyses.  What's even better: there's no need to download or install anything. Your sample size calculations are now only a few clicks away.</p>
      </div>
      <div class="col-xs-4">
        <img style="padding-left:50px;width:70%" src={% static 'img/brain.png'%} />
      </div>
    </div>
  </div>
</div>
{%endblock%}


{% block content %}
<div class="row">
  <div class="col-md-4 infobox">
    <h3>Access NeuroPower</h3>
    <p class="infocontent"> Use the webtool yourself.  All you need is a statistics map and some information about the research.</p>
    <p><a class="btn btn-default btn-lg" href="./neuropowerstart" role="button">NeuroPower &raquo;</a></p>
  </div>
  <div class="col-md-4 infobox">
    <h3>Tutorial</h3>
    <p class="infocontent">Here you can find a step-by-step tutorial of the application. </p>
    <p><a class="btn btn-default btn-lg" href="./tutorial" role="button">Tutorial &raquo;</a></p>
  </div>
  <div class="col-md-4 infobox">
    <h3>Methods</h3>
    <p class="infocontent">Learn more about the complex underlying methods, pitfalls, and assumptions behind the toolbox.</p>
    <p><a class="btn btn-default btn-lg" href="./methods" role="button">Methods &raquo;</a></p>
  </div>
</div>
{% endblock %}

{% block footer %}
<footer style="padding-left:30%;padding-right:30%">
    <div class = "row">
        <div class="col-xs-12">
          <br>
          <p><strong> Support for Neuropower kindly provided by:</strong></p>
        </div>
     </div>  
     <div class = "row">
         <div class="col-xs-6">
             <a href="http://www.arnoldfoundation.org/"><img src={% static 'img/ljaf-logo.png'%} width=60%/></a>
         </div>
         <div class="col-xs-6" style="padding-top:30px">
             <a href="http://reproducibility.stanford.edu"><img src={% static 'img/CRN-logo.png'%} width=60%/></a>
         </div>
     </div>
 </footer>
 {% endblock %}
