{% load staticfiles %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/viewport-bug-workaround.js' %}"></script>

<script>
$(document).ready(function() {
  $(".dropdown-toggle").dropdown();  
  // Is defined for neuropower step pages
  {% if steps %}
       $("#{{ steps.active.class }}").css("background-color","{{ steps.active.color }}");
       $("#{{ steps.active.class }}").css("border-color","{{ steps.active.color }}");

      // Disable steps that shouldn't yet be visitable
      {% for step,params in steps.items %}
          console.log("{{params.class}}")
          console.log("{{params.enabled}}")

          {% if params.enabled == "no" %}
              $("#{{ params.class }}").addClass("disabled");   
          {% else %}
              $("#{{ params.class }}").removeClass("disabled");   
          {% endif %}
      {% endfor %}
  {% endif %}
});
</script>
