<!-- Static navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">NeuroPowerTools</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <!-- Neuropower -->
        <li class="dropdown">
         <a href="{% url 'neuropowerstart' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">NeuroPower <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li><a href="{% url 'neuropowerstart' %}">NeuroPower</a></li>
           <li><a href="{% url 'npTutorial' %}">Tutorial</a></li>
           <li><a href="{% url 'npMethods' %}">Methods</a></li>
           <li><a href="{% url 'npFAQ' %}">FAQ</a></li>
         </ul>
        </li>

        <!-- Neuropower -->
        <li class="dropdown">
         <a href="{% url 'neuropowerstart' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">NeuroDesign <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li><a href="{% url 'DStart' %}">NeuroDesign</a></li>
           <li><a href="{% url 'DTutorial' %}">Tutorial</a></li>
           <li><a href="{% url 'DMethods' %}">Methods</a></li>
           <li><a href="{% url 'DPackage' %}">Beyond the GUI</a></li>
           <li><a href="{% url 'DFAQ' %}">FAQ</a></li>
         </ul>
       </ul>
       <!-- <ul class="nav navbar-nav navbar-right">
        <li class ='dropdown'>
          <a href="}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
          <ul class='dropdown-menu'>
          <li><a href="{% url 'blog' %}">Tips and Tricks</a></li>
        </ul>
        </li>
      </ul> -->

    </div><!--/.nav-collapse -->
  </div>
</nav>
