<div class="row" style="height:100px;">
    <div id="progressbar" class="col-md-12">
        <a class="btn btn-default" id="overview" href="{% url 'DStart' %}">Overview</a>
        <a class="btn btn-default" id="maininput" href="{% url 'DMainInput' %}">Main Input</a>
        <!--<a class="btn btn-default" id="nested" href="{% url 'DNested' %}">Nested Designs</a>-->
        <a class="btn btn-default" id="consandprobs" href="{% url 'DConsInput' %}">Contrasts and Probabilities</a>
        <a class="btn btn-default" id="review" href="{% url 'DReview' %}">Review</a>
        <a class="btn btn-default" id="run" href="{% url 'DRunGA' %}">Console</a>
        <a class="btn btn-danger" href="{% url 'DReset' %}">RESET</a>
    </div>
</div>
