{% extends 'main/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}
  FAQ | {{block.super}}
{% endblock %}

{% block navbar %}
{%include 'main/navbar.html' %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>NeuroDesign - Frequently Asked Questions</h1>

    <h4 class="question">Index</h4>
    <ul>
      <li> <a href="#q1">How can I cite this toolbox?</a></li>
      <li> <a href="#q2">Who's behind the toolbox?</a></li>
      <li> <a href="#q3">Where can I find the code?</a></li>
      <li> <a href="#q3">Where can I leave feedback?</a></li>
    </ul>

      <div class="question">
      <a name="q1"></a>
      <h4> How can I cite this toolbox? </h4>
      <p class="well">Not yet !</p>
      </div>

      <div class="question">
      <a name="q2"></a>
      <h4> Who's behind the toolbox? </h4>
      <p class="well">The main developer is Joke Durnez. The development of the toolbox would not have been possible without the kind help and advice from Russell Poldrack and everyone in the Poldrack lab.</p>
      </div>

      <div class="question">
      <a name="q3"></a>
      <h4>Where can I find the code? </h4>
      <p class="well">The code for the toolbox can be found on <a href="https://github.com/neuropower/neuropower">the github page</a>. </p>
      </div>

      <div class="question">
      <a name="q4"></a>
      <h4> Where can I leave feedback? </h4>
      <p class="well">Did you find an error or a bug? Post an issue at <a href="https://github.com/neuropower/neuropower/issues">github</a> or write us an <a href="mailto:joke.durnez@gmail.com">email</a>. You have an idea for an added functionality?  Please let us know ! If you're a developer yourself, you can add functions and add a pull request on github. </p>
      </div>


  </div>
</div>
{% endblock %}
