{% extends 'main/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}
  FAQ | {{block.super}}
{% endblock %}

{% block navbar %}
{%include 'main/navbar.html' %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Frequently Asked Questions</h1>

    <h4 class="question">Index</h4>
    <ul>
      <li> <a href="#q1">Question 1?</a></li>
    </ul>

      <div class="question">
      <a name="q1"></a>
      <h4> Question 1? </h4>
      <p class="well">Answer 1.</p>
      </div>


  </div>
</div>
{% endblock %}
