{% extends 'main/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}
  Tutorial | {{block.super}}
{% endblock %}

{% block navbar %}
{% include 'main/navbar.html' %}
{% endblock %}

{% block content %}
<div class="row">
  <br>
  <br>
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <h2> NeuroDesign - Methods </h2>
    <br>
    <h4> About the algorithm </h4>
    <p>This toolbox is an easy-to-use GUI implementation of the genetic algorithm for design optimization. A good overview about the genetic algorithm can be found in this paper:</p>
    <p><a href="http://www.ncbi.nlm.nih.gov/pubmed/12595184">Wager and Nichols (2002). Optimization of experimental design in fMRI: a general framework using a genetic algorithm. NeuroImage 18, 293-309.</a></p>
    <br>
    <p> More recently, Ming-Hung Kao has further developed the genetic algorithm.  The details can be found in the following papers.  This application uses their algorithm.</p>
    <p><a href="http://www.ncbi.nlm.nih.gov/pubmed/18948212">Kao, Mandal, Lazar and Stufken (2009).  Multi-objective optimal experimental designs for event-related fMRI studies.  NeuroImage 44, 849-856.</a></p>
    <p><a href="http://www.ncbi.nlm.nih.gov/pubmed/25071884">Kao, Temkit and Wong (2014).  Recent developments in optimal experimental designs for functional magnetic resonance imaging.  World Journal of Radiology, 6(7), 437-445.</a></p>
    <br>
    <p>If you're not really interested in optimising the power or efficiency of your design, but only in making sure there are no accidental contigencies in your (random) design, take a look at this paper about pseudo-random designs using m-sequences.</p>
    <p><a href="http://www.ncbi.nlm.nih.gov/pubmed/12169264">Buracas and Boynton (2002). Efficient design of event-related fMRI experiments using M-sequences. NeuroImage 16, 801 – 813.</a></p>
    <br><br>
    <h4> About design optimisation </h4>
    <p> Jeanette Mumford has made some really cool video's that give intuition and insight about why you should care about design optimisation:</p>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=FD4ztsoYvSY">Estimation vs. detection</li>
      <li><a href="https://www.youtube.com/watch?v=VKhYETzbkqc">The math behind it</li>
      <li><a href="https://www.youtube.com/watch?v=xr20ajRNkAI">Here's a demo in matlab about what variable ITI's can do for your experiment</li>
    </ul>

  </div>
  <div class="col-xs-1"></div>
</div>
{% endblock %}
