{% extends 'main/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}
  Tutorial | {{block.super}}
{% endblock %}

{% block navbar %}
{% include 'main/navbar.html' %}
{% endblock %}

{% block content %}
<div class="row">
  <br>
  <br>
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <h2> Design - Methods </h2>

    <p>This toolbox is an easy-to-use GUI implementation of the genetic algorithm for design optimization. A good overview about the genetic algorithm can be found in this paper:</p>
    <p><a href="./">Wager and Nichols (2002). Optimization of experimental design in fMRI: a general framework using a genetic algorithm. NeuroImage 18, 293-309.</a></p>
    <br>
    <p> More recently, Ming-Hung Kao has further developed the genetic algorithm.  The details can be found in the following papers:</p>
    <p><a href="./">Kao, Mandal, Lazar and Stufken (2009).  Multi-objective optimal experimental designs for event-related fMRI studies.  NeuroImage 44, 849-856.</a></p>
    <p><a href="./">Kao, Temkit and Wong (2014).  Recent developments in optimal experimental designs for functional magnetic resonance imaging.  World Journal of Radiology, 6(7), 437-445.</a></p>
    <br>
    <p>If you're not really interested in optimising the power or efficiency of your design, but only in making sure there are no accidental contigencies in your (random) design, take a look at this paper about pseudo-random designs using m-sequences, take a look at this paper:</p>
    <p><a href="./">Buracas and Boynton (2002). Efficient design of event-related fMRI experiments using M-sequences. NeuroImage 16, 801 – 813.</a></p>
  </div>
  <div class="col-xs-1"></div>
</div>
{% endblock %}
