{% extends 'main/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}
  NeuroPower | {{block.super}}
{% endblock %}

{% block navbar %}
{% include 'main/navbar.html' %}
{%include 'design/designnavbar.html' %}
{% endblock %}

{% block content %}

<div class="row">
  {% if message %}
  <div class="alert alert-info alert-dismissible" role="alert">{{ message|safe }}</div>
  {% endif %}
</div>

<div class="row">
  <div class="col-xs-12">
    <h3> Review </h3>
    <div class='col-xs-10'>
    <h5>Tips and tricks</h5>
    <ul>
    <li>The design optimisation can take a while.  The duration of the experiment is the most important influence in the duration of the experiment.  Therefore, we suggest to give it a try with a short experiment.  You can always rerun the optimisation with more stimuli, longer rest blocks,...</li>
    <li>To further minimise the duration, we have set the number of preruns and runs very low and the resolution very high.  For a good optimisation, go to options (on this page) and change the number of runs and preruns and the resolution.  Some reasonable values are: 10,000 preruns, 10,000 runs and a resolution of 0.1s.</li>
    <li>Another impactful factor in the optimisation duration is the need to estimate the estimation efficiency.  Other factors impacting the optimisation: the size of the generation and the number of immigrants per generation (can be changed in the options).</li>
    </ul>
    </div>
</div>
<div class="col-xs-10">
  <h5>Overview of experiment parameters </h5>
    <p> Please review carefully the following design settings.  We rescaled a few variables to sum to zero for internal purposes.</p>
    </form>
  </div>
  <div class="col-md-3 col-xs-12"><b> Inter trial interval </b></div>
  <div class="col-md-9 col-xs-12"> The ITI is between {{ ITImin }} and {{ ITImax }} seconds and on average {{ITImean}} seconds </div>
  <div class="col-xs-12"><br></div>
  <div class="col-md-3 col-xs-12"><b> Scanner repetition time (TR) </b></div>
  <div class="col-md-9 col-xs-12"> {{ TR }} seconds </div>
  <div class="col-xs-12"><br></div>
  <div class="col-md-3 col-xs-12"><b> Number of trial types </b></div>
  <div class="col-md-9 col-xs-12"> {{ S }} trials (or conditions) </div>
  <div class="col-xs-12"><br></div>

  {% if L %}
<div class="col-md-3 col-xs-12"><b> Total number of trials </b></div>
  <div class="col-md-9 col-xs-12"> {{ L }} trials </div>
  <div class="col-xs-12"><br></div>
{% endif %}
{% if L %}
<div class="col-md-3 col-xs-12"><b> Total duration </b></div>
<div class="col-md-9 col-xs-12"> {{ duration }} seconds </div>
<div class="col-xs-12"><br></div>
{% endif %}

  <div class="col-md-3 col-xs-12"><b> Probabilities </b></div>
  <div class="col-md-9 col-xs-12"><div class="table"><table>{{Phtml|safe}}</table></div></div>
  <div class="col-xs-12"><br></div>
  <div class="col-md-3 col-xs-12"> <b>Contrasts </b></div>
  <div class="col-md-9 col-xs-12"><div class="table"><table>{{Chtml|safe}}</table></div></div>
  <div class="col-xs-12"><br></div>
  <div class="col-md-3 col-xs-12"> <b>Optimisation </b></div>
  <div class="col-md-9 col-xs-12"><div class="table"><table>{{Whtml|safe}}</table></div></div>

  <div class="col-md-3 col-xs-12"><b> Max number of repeated stimuli </b></div>
  <div class="col-md-9 col-xs-12"> {{ repeat }} stimuli </div>
  <div class="col-xs-12"><br></div>
  <div class="col-md-3 col-xs-12"><b> Counfonding order </b></div>
  <div class="col-md-9 col-xs-12"> {{ order }} trials </div>
  <div class="col-xs-12"><br></div>

</div>

<div class="row">
  <div class="col-md-12">
    <form id="GAform" method='POST' action='.' enctype="multipart/form-data">
      {% csrf_token %}
      {% crispy revform %}
    </form>
  </div>
</div>

{% endblock %}
