{% extends 'main/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}
  NeuroPower | {{block.super}}
{% endblock %}

{% block navbar %}
{% include 'main/navbar.html' %}
{%include 'design/designnavbar.html' %}
{% endblock %}

{% block content %}


<div class="row">
  {% if message %}
  <div class="alert alert-info alert-dismissible" role="alert">{{ message|safe }}</div>
  {% endif %}
</div>

<div class="row">
    <div class="col-xs-9"></div>
    <div class="col-xs-3">
      <a class="btn" href="{% url 'DOptions' %}">Options</a>
    </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3> Review </h3>
    <p> Please review carefully the following design settings.  We rescaled a few variables to sum to zero for internal purposes.</p>
    </form>
  </div>
  <div class="col-md-3 col-xs-12"><b> Inter trial interval </b></div>
  <div class="col-md-9 col-xs-12"> [{{ ITImin }},{{ ITImax }}] seconds, on average {{ITImean}} seconds </div>
  <div class="col-xs-12"><br></div>
  <div class="col-md-3 col-xs-12"><b> Scanner repetition time (TR) </b></div>
  <div class="col-md-9 col-xs-12"> {{ TR }} seconds </div>
  <div class="col-xs-12"><br></div>
  <div class="col-md-3 col-xs-12"><b> Number of trial types </b></div>
  <div class="col-md-9 col-xs-12"> {{ S }} trials (or conditions) </div>
  <div class="col-xs-12"><br></div>

  <div class="col-md-3 col-xs-12"><b> Total number of trials </b></div>
  <div class="col-md-9 col-xs-12"> {{ L }} trials </div>
  <div class="col-xs-12"><br></div>

  <div class="col-md-3 col-xs-12"><b> Probabilities </b></div>
  <div class="col-md-9 col-xs-12"><div class="table"><table>{{Phtml|safe}}</table></div></div>
  <div class="col-xs-12"><br></div>
  <div class="col-md-3 col-xs-12"> <b>Contrasts </b></div>
  <div class="col-md-9 col-xs-12"><div class="table"><table>{{Chtml|safe}}</table></div></div>
  <div class="col-xs-12"><br></div>
  <div class="col-md-3 col-xs-12"> <b>Optimisation </b></div>
  <div class="col-md-9 col-xs-12"><div class="table"><table>{{Whtml|safe}}</table></div></div>

  <div class="col-md-3 col-xs-12"><b> Max number of repeated stimuli </b></div>
  <div class="col-md-9 col-xs-12"> {{ repeat }} stimuli </div>
  <div class="col-xs-12"><br></div>
  <div class="col-md-3 col-xs-12"><b> Counfonding order </b></div>
  <div class="col-md-9 col-xs-12"> {{ order }} trials </div>
  <div class="col-xs-12"><br></div>

</div>

<div class="row">
  <div class="col-md-12">
    <form id="GAform" method='POST' action='.' enctype="multipart/form-data">
      {% csrf_token %}
      {% crispy revform %}
    </form>
  </div>
</div>

{% endblock %}
