{% extends 'main/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}
  NeuroPower | {{block.super}}
{% endblock %}

{%block head %}
<meta http-equiv="refresh" content="3" >
{% endblock %}

{% block navbar %}
{% include 'main/navbar.html' %}
{%include 'design/designnavbar.html' %}
{% endblock %}

{% block content %}
<div class="row">
  {% if message %}
  <div class="alert alert-info alert-dismissible" role="alert">{{ message }}</div>
  {% endif %}
</div>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-2">
    <br><br><br><br><br>
    <form id="runform" method='POST' action='.'>
      {% csrf_token %}
      {% crispy runform %}
    </form>
  </div>

<div id="magic"></div>
{% include 'design/updatepage.html' with text=text refrun=refrun preruns=preruns runs=runs %}
</div>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-2">
    <br><br><br><br><br>
    {% if downform %}
    <form id="downform" method='POST' action='.'>
      {% csrf_token %}
      {% crispy downform %}
    </form>
    {% endif %}

</div>

{% endblock %}
