{% extends 'main/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}
  NeuroPower | {{block.super}}
{% endblock %}
{%block head %}
<!-- <meta http-equiv="refresh" content="5"> -->
{% endblock %}

{% block navbar %}
{% include 'main/navbar.html' %}
{%include 'design/designnavbar.html' %}
{% endblock %}

{% block content %}
<div class="row">
  {% if message %}
  <div class="alert alert-info alert-dismissible" role="alert">{{ message }}</div>
  {% endif %}
  <div class="col-md-12">
    <form id="runform" method='POST' action='.' enctype="multipart/form-data">
      {% csrf_token %}
      {% crispy runform %}
    </form>
  </div>
</div>



<div class="row" id="magic">
</div>

{% endblock %}

{% block scripts %}

{%include 'design/update.js' %}
{% endblock %}
