{% extends 'main/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}
  NeuroPower | {{block.super}}
{% endblock %}

{% block navbar %}
{% include 'main/navbar.html' %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <h2> Design </h2>
    <br><br>
      <p>This toolbox helps researchers with the planning of experimental designs for fMRI experiments.  In short: depending on the exact time and order of stimulus presentations, a study can win in statistical power or efficiency in estimating the brain signal. As such, depending on the design criteria, you'll have more power with fewer subjects or with shorter experiments.  For more details about the methods, please see <a href="../methods/">the methods section</a>, or take a look at the <a href="../tutorial/">step-by-step tutorial</a> on this page.  To use the toolbox, go <a href="../maininput/">here</a>. </p>
  </div>
  <div class="col-xs-1"></div>
</div>
<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
      <br><br><br>
      <a href="../maininput"><button type="button" class="btn btn-primary btn-lg">Use the toolbox !</button></a>
  </div>
  <div class="col-xs-4"></div>
</div>

{% endblock %}
