{% extends 'main/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}
  Tutorial | {{block.super}}
{% endblock %}

{% block navbar %}
{% include 'main/navbar.html' %}
{% endblock %}

{% block content %}

<div class="row">

  <!-- Navigation for user -->
  <div class="col-md-12" style="padding-bottom:30px">
    <h1>NeuroDesign - Tutorial</h1>
    <p> Under development </p>

    <!-- <ul>
      <li><a class="step-link" id="#step0">Getting Started</a></li>
    </ul> -->
  </div>

  <!-- Title Box -->
  <!-- <div class="col-md-8" style="padding-bottom:30px">
    <h1 style="align-text:center;padding-top:140px; float:right" id="step_title">Getting Started</h1>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary btn" style="border-radius:30px;float:right;position:relative; top:-20px" id="save_pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
        <div id="editor"></div>
    </div>
</div> -->

<!-- <div class="row" id="pdf-content">

  <div class="panel panel-default" id="step0-content">
    <div class="panel-body">
      <div class="col-md-12">
        <h3> Step 0</h3>
        <p>BladiBla. </p>

       <a class="btn btn-primary btn-lg step-button" text="Data Input" style="float:right" id="next1">Next: Step 1</a>
      </div>
    </div>
  </div>


  </div>
</div> -->
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jspdf.min.js' %}"></script>
<script>
$(document).ready(function(){

   // Take the viewer to the current step, hide all others
    $(".step-link").click(function(){
       $("#step_title").text($(this).text())
       var step_id = $(this).attr("id")
       $(".panel").addClass("hidden");
       $(step_id + "-content").removeClass("hidden");

       $("body").scrollTop(0)
   })

   //Clicking button at bottom of panel moves to next step
    $(".step-button").click(function(){
       var button_id = $(this).attr("id")

       // Get rid of previous or next to leave the id to go to
       button_id = button_id.replace("previous","")
       button_id = button_id.replace("next","")
       $("#step_title").text($(this).attr("text"))

       $(".panel").addClass("hidden");
       $("#step" + button_id + "-content").removeClass("hidden");

       $("body").scrollTop(0)
    })

    // Save docs to pdf on click
    $("#save_pdf").click(function(){

      $("body").scrollTop(0)
      $("#fade").show();
      $("#loader").show();

      var doc = new jsPDF();

      // We'll make our own renderer to skip this editor
      var specialElementHandlers = {
	'#editor': function(element, renderer){
		return true;
	}
      };

        // Remove images - are not rendering properly
        var html = $('#pdf-content').html()
            .replace(/<img[^>]*>/g,"")
            .replace(/<button[^>]*>/g,"")
            .replace(/<hr>/g,"")
            .replace(/&pi;/g,"pi")      // not currenly working
            .replace(/&#956;/g,"mu")    // not currenly working
            .replace(/&#963;/g,"sigma") // not currenly working

        doc.fromHTML(html, 15, 15, {
	   'width': 170,
	   'elementHandlers': specialElementHandlers
        },

        // Callback function to save
        function(dispose) {
           doc.save('neuropower-docs.pdf');
           $("#fade").hide();
           $("#loader").hide();
         });

    });

});
</script>
{% endblock %}
