*.pyc
*.gz
*.nii
sqlite
*bash*
*keys*
*.csv
*.nii.gz
*/secrets.py
call_db.py
script.sh
media/designs/*
media/designonsets/*
../dockernotes.sh
../dockernotes.txt
apps/designtoolbox/archive/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
