
/* Global Style */

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 14px !important;
}

body {
 margin-bottom: 0px;
 background-image: url(/static/img/stripe.png);
}

* {
  font-size: 14px;
  line-height: 1.3;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  border-radius:2px;
  background-color: white;
  padding-top:0px !important;
  margin-top:0px 
  padding-bottom: 100px !important;
  margin-bottom:50px !important;
}


/* Home */
.welcome {
  padding-top:50px;
}


.infocontent {
  margin-top: 25px;
  margin-bottom: 25px;
}

.infobox {
  padding-left:60px;
  padding-right:60px;

}

.form-inline {
  margin:0px!important;
  padding:0px!important;
}


/* Overview (start) */

.step-info {
  border-radius: 10px;
  min-height: 280px;
  margin:5px;
  width: 15% !important;
  text-align: center;
}


.step-info h2, h3, h4 {
  color: white;
  text-transform: uppercase;
  padding-top: 10px;
}

.step-info p {
  color: white;
  line-height: 14px; 
}

/* Content */

#content {
  padding: 25px 30px 100px 30px;
}

/* Navigation */
.navigation-container {
  padding-top:0px !important;
  box-shadow: 0 0 10px #CCC !important;
}

.navbar {
  font-family: 'Roboto', sans-serif;  
  font-size: 16px;
}

.navbar-default {
  background-color: #8D181B;
  border-color: #8D181B;
}

.navbar-brand {
  font-weight:600;
  color: white !important;
}

.navbar-nav > li > a {
  font-size: 18px;
  color: white !important;
}


/* Neuropower Navigation */

#progressbar {
  padding-top:25px;
  padding-left:50px;
  text-align: center !important;
  margin-bottom: 30px !important;
}

#progressbar li {
  text-transform: uppercase;
  width: 12% !important;
  float: left !important;
  position: relative !important;
}
