
/* Global Style */

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 14px !important;
}

body {
 margin-bottom: 0px;
 background-image: url(/static/img/stripe.png);
}

* {
  font-size: 14px;
  line-height: 1.3;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  border-radius:2px;
  background-color: white;
  padding-top:0px !important;
  margin-top:0px 
  padding-bottom: 100px !important;
  margin-bottom:50px !important;
}


/* Home */
.welcome {
  padding-top:50px;
}


.infobox {
  margin-top: 25px;
  margin-bottom: 25px;
}

.form-inline {
  margin:0px!important;
  padding:0px!important;
}


/* Content */

#content {
  padding: 25px 30px 100px 30px;
}

/* Navigation */
.navigation-container {
  padding-top:0px !important;
  box-shadow: 0 0 10px #CCC !important;
}

.navbar {
  font-family: 'Roboto', sans-serif;  
  font-size: 16px;
}

.navbar-default {
  background-color: #8D181B;
  border-color: #8D181B;
}

.navbar-brand {
  font-weight:600;
  color: white !important;
}

.navbar-nav > li > a {
  font-size: 18px;
  color: white !important;
}


/* Neuropower Navigation */

#progressbar {
  padding-top:25px;
  padding-left:100px;
  text-align: center !important;
  margin-bottom: 30px !important;
  overflow: hidden !important;
  /*CSS counters to number the steps*/
  counter-reset: step !important;
}

#progressbar li {
  list-style-type: none !important;
  text-transform: uppercase;
  width: 12% !important;
  float: left !important;
  position: relative !important;
}

#progressbar li:before {
  content: counter(step) !important;
  counter-increment: step !important;
  width: 30px !important;
  line-height: 30px !important;
  display: block !important;
  font-size: 10px !important;
  color: #999 !important;
  background: #CCC !important;
  border-radius: 3px !important;
  margin: 0 auto 5px auto !important;
  z-index:3;
}

/*progressbar connectors*/
#progressbar li:after {
  content: '' !important;
  width: 80% !important;
  height: 2px !important;
  margin-left: 15px;
  background: #CCC !important;
  position: absolute !important;
  left: -50% !important;
  top: 9px !important;
  z-index:2 !important; 
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none !important; 
}

/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: #337AB7 !important;
  color: #CCC !important;
}
