{% extends 'main/base.html' %}
{% load staticfiles %}

{% block head_title %}
  Welcome | {{block.super}}
{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
  <div class="welcome">
    <div class="row">
      <div class="col-xs-8" style="padding-left:10px">
        <h2>Oooops ! 404 !</h2>
        <p>Oops, something went wrong, we could not find that page...  If you think it's our fault, please <a href="{% url 'npFAQ' %}">let us know</a>.</p>
        <p> Here's a link to <a href="{% url 'home' %}">our homepage</a>. </p>
      </div>
      <div class="col-xs-4">
        <img style="padding-left:50px;width:70%" src={% static 'img/brain.png'%} />
      </div>
    </div>
  </div>
</div>
{% endblock %}
