{% extends 'base.html' %}
{% block head_title %} Welcome | {{block.super}}{% endblock %}


<div class="jumbotron">
  {%block jumbotron%}
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <br>
        <h2>Welcome</h2>
        <p>Neuropower is a webtool that allows you to compute the necessary sample size for your fMRI study to obtain a certain predefined level of statistical power. This site is still very much under construction but you'll find the necessary links here.</p>
      </div>
      <div class="col-xs-4">
        <br>
        <br>
        <br>
        <img src="neuropowertoolbox/brain.png"/>
      </div>
    </div>
  </div>
  {%endblock%}
</div>


{% load static %}
<img src="{% static 'brain.png' %}"/>

{% block content %}
  <div class="row">
    <div class = 'col-sm-3'>
      <p class='lead text-align-center'>Built with Django &amp; Bootstrap</p>
    </div>
    <div class="col-sm-3 col-xs-3 pull-right">
        <p class='lead text-align-center'> {{title}} </p>
        <!-- {{user}} shows username -->
      </div>
    <div class = 'col-sm-3'>
      <p class='lead text-align-center'>reated for starters</p>
    </div>
    <div class = 'col-sm-3'>
      <p class='lead text-align-center'>Hello there</p>
    </div>
  </div>
{% endblock %}
