{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
  Welcome | {{block.super}}
{% endblock %}

{%block jumbotron%}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <br>
        <h2>Welcome</h2>
        <p>NeuroPower is a toolbox that allows you to compute the necessary sample size for your fMRI study to obtain a certain predefined level of statistical power. What's even better: there's no need to download or install anything. Your sample size calculations are now only a few clicks away.</p>
      </div>
      <div class="col-sm-4">
        <br>
        <br>
        <br>
        <img src={% static 'img/brain.png'%} width=40%/>
      </div>
    </div>
  </div>
</div>
{%endblock%}


{% block content %}
<div class="row">
  <div class="col-md-4">
    <h3>Access NeuroPower</h3>
    <p> Use the webtool yourself.  All you need is a statistics map and some information about the research.  Access the app here.</p>
    <p><a class="btn btn-default" href="./neuropowerstart" role="button">NeuroPower &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h3>Tutorial</h3>
    <p>Here you can find a step-by-step tutorial of the application. </p>
    <p><a class="btn btn-default" href="./tutorial" role="button">Tutorial &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h3>Methods</h3>
    <p> The toolbox itself is a simple online application of more complex underlying methods.  If you want to know more about the methods, pitfalls, assumptions,... you'll find that information here. </p>
    <p><a class="btn btn-default" href="./methods" role="button">Methods &raquo;</a></p>
  </div>
</div>
{% endblock %}

{% block footer %}
<div class = "row">
  <div class="col-md-12" style="background-color:#a6a6a6">
    <p> Support for Neuropower provided by:</p>
<img href="http://www.arnoldfoundation.org/" src={% static 'img/ljaf-logo.png'%} width=10%/>
<img href="http://reproducibility.stanford.edu" src={% static 'img/CRN-logo.png'%} width=10%/>

  </div>
</div>
{% endblock %}
