{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<link href="{% static 'css/papaya.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'scripts/papaya.js'%}"></script>
<script type="text/javascript">
var params = [];
  params["images"]=["{{url}}"];
</script>
{% endblock %}


{% load crispy_forms_tags %}
{% block head_title %}
  Neuropower Viewer | {{block.super}}
{% endblock %}

{% block content %}
<div class="row">
  <br>
  <br>
  <div class="col-xs-4">
    <form method='POST' action='.'>
      {% csrf_token %}
      {% crispy niftiform %}
      {% crispy parsform %}
    </form>
  </div>

  <div class="col-xs-8">
        <div class="papaya" data-params="params"></div>
        <!-- <p>{{SPMfile}}</p> -->
  </div>
</div>
{% endblock %}
