{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}
  NeuroPower | {{block.super}}
{% endblock %}

{% block navbar %}
{%include 'navbar.html' %}
{%include 'neuropowernavbar.html' %}
{% endblock %}

{% block content %}
<div class="row">
  <br>
  <br>
  <div class="col-xs-4">
    <form method='POST' action='.'>
      {% csrf_token %}
      {% crispy powerinputform %}
    </form>
  </div>
  <div class="col-xs-7">
  <h4> {{text}} </h4>
  {{plothtml | safe}}
  </div>
  <div class="col-xs-1"></div>

</div>
{% endblock %}
