{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}
  NeuroPower | {{block.super}}
{% endblock %}

{% block navbar %}
{%include 'navbar.html' %}
{%include 'neuropowernavbar.html' %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h2> Welcome ! </h1>
      <p> If this is the first time you use this toolbox, please go over the <a href="../tutorial">tutorial</a> explaining you some key components about the analysis.  The toolbox is a great way to improve the power and consequently reproducibility of your research.  However, please read the information about <a href="../tutorial/#RRP">responsible research practices</a> to make sure you are doing it right.</p>
      <h3> Overview of the different steps </h3>
      <br>
      <img src='{% static "documentation/steps.png" %}' width="100%"/>
  </div>
</div>
{% endblock %}
