{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}
  NeuroPower | {{block.super}}
{% endblock %}

{% block navbar %}
{%include 'navbar.html' %}
{%include 'neuropowernavbar.html' %}
{% endblock %}

{% block content %}
<div class="row">
  <br>
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <form method='POST' action='.' enctype="multipart/form-data">
      {% csrf_token %}
      {% crispy parsform %}
    </form>
  </div>

  <div class="col-xs-2"></div>
</div>
{% endblock %}
